{@org.acme.persistence.hibernate.TaskPageData page}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{page.title}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>

<body hx-boost="true">
    <div class="container">
        <h2 class="card-title">Add New Task</h2>
        <form action="/tasks/tasks-page" method="post" class="card">
            <div class="card-body">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" class="form-control"><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" class="form-control"><br>
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
        <hr>
        <h1 class="card-title">Task List</h1>
        <div id="taskList" class="card">

            <table class="table table-striped table-bordered table-hover" id="table1">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Done</th>
                    </tr>
                </thead>
                {#for task in page.tasks}
                <tr>
                    <td>{task.title}</td>
                    <td>{task.description}</td>
                    <td>{task.done}</td>
                </tr>
                {/for}
            </table>
        </div>

    </div>
</body>

</html>
