{@org.acme.persistence.magnum.UserPageData page}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{page.title}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>
<body hx-boost="true">
<div class="container">
    <h1 class="card-title">User List</h1>
    {#for user in page.users}
        <p class="card-body">{user.name} - {user.email}</p>
    {/for}
    <hr>
    <h2 class="card-title">Add New User</h2>
    <form action="/users/users-page" method="post" class="card">
        <div class="card-body">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" class="form-control"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" class="form-control"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="form-control"><br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>
